<template name="selectedProduct">
    {{#if Template.subscriptionsReady}}
      {{#if selectedProduct}}
        <table style="width:100%">
          <tr>
            <td>
              {{#with selectedProduct}}
                {{>product}}
              {{/with}}
            </td>
            <td valign="top">

                <tr>
                  <form id="addingAmount">
                    <label for="addAmount">Amount to be purchased:</label><input id="addAmount" type="number" style="width: 50px;" min="0"/>
                    <button class="btn btn-primary" id="add" type="submit">Add</button>
                  </form>
                  <td><button class="btn btn-primary" id="cancel">Cancel</button></td>
                </tr>
            </td>
          </tr>
        </table>
      {{else}}
        Sorry, no product with that code...
      {{/if}}
    {{else}}
      Loading...
    {{/if}}
</template>

<template name="product">
  <h2>{{description}}</h2>
  <p>Price: ${{price}}</p>
  <p>Cost: ${{cost}}</p>
  <p>Look Up Code: {{itemLookUpCode}}</p>
  <p>Type: {{itemType}}</p>
  <p>Quantity: {{quantity}}</p>
  <p>Reorder Point: {{reorderPoint}}</p>
  <p>Restock Level:{{restockLevel}}</p>
  <p>Parent Item: {{parentItem}}</p>
  <p>Extended Description: {{extendedDescription}}</p>
  <p>Active: {{isActive}}</p>
  <p>MSRP: {{msrp}}</p>
  <p>Created at: {{createdAt}}</p>
</template>
