<template name="selectedProduct">
  <h1>Selected Product:</h1>
    {{#if Template.subscriptionsReady}}
      {{#if selectedProduct}}
        {{#with selectedProduct}}
          {{>product}}
        {{/with}}
      {{else}}
        Sorry, no product with that code...
      {{/if}}
    {{else}}
      Loading...
    {{/if}}
</template>

<template name="product">
  <h2>{{description}}</h2>
  <p>Price: ${{price}}</p>
  <p>Cost: ${{cost}}</p>
  <p>itemLookUpCode: {{itemLookUpCode}}</p>
  <p>itemType: {{itemType}}</p>
  <p>Quantity: {{quantity}}</p>
  <p>reorderPoint: {{reorderPoint}}</p>
  <p>restockLevel:{{restockLevel}}</p>
  <p>parentItem: {{parentItem}}</p>
  <p>extendedDescription: {{extendedDescription}}</p>
  <p>isActive: {{isActive}}</p>
  <p>msrp: {{msrp}}</p>
  <p>createdAt: {{createdAt}}</p>

</template>
